// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';


body, html, #root {
    height:100%;
}

.bg-lightgray {
    background-color: lightGray;
}
.text-lightgray {
    color: lightGray;
}

.type_icon {
    color: lightGray;
    cursor: pointer;
}
.type_icon:hover {
    color: $secondary;
}

.multi-ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.multi-li {
    border-width: 1px;
    border-color: lightGray;
    border-bottom-style: solid;
    padding: 0.3rem;
}
.multi-li:hover {
    background-color: lightGray;
}
.multi-li-izabran {
    background-color: $primary;
    color:white;
}

.delete-overlay {
    opacity: 0;
    padding:2.3rem;
}
.delete-overlay:hover {
    opacity:0.5;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark_hover:hover {
  background-color: lightGray !important;
}